// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.table-row:nth-of-type(4n+1), .table-row:nth-of-type(4n+2) {
    background: rgb(207, 207, 207);
}

.client-table tbody tr:nth-child(2n) {
    background: rgb(207, 207, 207);
}

thead tr {
    letter-spacing: 2px;
    font-weight: normal;
    color: white;
    background: rgb(32, 32, 32);
}
